@page
@model IndexModel
@{
    ViewData["Title"] = "Shoppinglist";
}

<div class="firstpage-container">
    <div class="welcome-header">
        <h1>Welcome to shoppinglist</h1>
    </div>
    <div>
        <img src="~/img/shoppinglist_.jpg" alt="Picture of shoppinglist" width="110" />
    </div>
</div>